body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: linear-gradient(90deg, #4a34b9, #0a2026);
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 2em;
    background-color: #fff;
    margin: 1em auto;
    max-width: 800px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

section:hover {
    transform: scale(1.02);
}

.profile-pic {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    border-radius: 50%;
    display: block;
    margin: 0 auto 1em auto;
    border: 3px solid #ff7e5f;
}

h2 {
    color: #5fb2ff;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 0.5em 0;
}

footer {
    text-align: center;
    padding: 0.1em 0; /* Adjust the padding as needed */
    background: linear-gradient(90deg, #4a34b9, #0a2026);
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
